/*
  For custom overrides and custom styles
  The following is a list of variables commonly used by Just the Docs:
  https://github.com/just-the-docs/just-the-docs/blob/main/_sass/support/_variables.scss
*/


/* Increases the font sizes of headings compared to Just the Docs*/
@media (max-width: 31.25rem) {
  .main-content h2 {
      font-size: $font-size-8 !important;
  }

  .main-content h3 {
      font-size: $font-size-7 !important;
  }

  .main-content h4 {
      font-size: $font-size-6 !important;
      font-weight: 500;
      text-transform: none;
  }

  .main-content h5 {
      font-size: $font-size-5 !important;
  }

  .main-content h6 {
      font-size: $font-size-4 !important;
  }
}

@media (min-width: 31.25rem) {
  .main-content h2 {
      font-size: $font-size-9 !important;
  }

  .main-content h3 {
      font-size: $font-size-8 !important;
  }

  .main-content h4 {
      font-size: $font-size-7 !important;
      font-weight: 500;
      text-transform: none;
  }

  .main-content h5 {
      font-size: $font-size-6 !important;
  }

  .main-content h6 {
      font-size: $font-size-5 !important;
  }
}

// .main-content-wrap * {
//   max-width: 100%;
//   box-sizing: border-box;
// }

.main-content-wrap img,
.main-content-wrap svg,
.main-content-wrap video,
.main-content-wrap iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

/* For styling two-way chats*/
.chat {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 8px;
    max-width: 60%;
}

.chat.left {
    text-align: left;
    background-color: #f1f1f1;
}

.chat.right {
    text-align: right;
    background-color: #dbeafe;
    margin-left: auto;
}

.chat.user {
    font-weight: bold;
    color: #1e3a8a;
}

.chat.compiler {
    font-style: italic;
    color: #6b7280;
}

.chat.processing {
    color: #07966d;
}

.chat.computer {
    color: #7c3aed;
}

/* For styling exercises that haven't yet been converted into an exercise */
.task {
    border-left: 5px solid #8ad6af;
    background-color: #f2fcf7;
    padding: 20px;
    margin: 2em 0;
    border-radius: 0.5em;
    font-family: 'Segoe UI', sans-serif;
}

/* For centring images */
.centred-img {
    display: flex;
    justify-content: center;
}

/* For disabling line numbers for code blocks with .nolineno */
div.highlighter-rouge.nolineno .rouge-gutter {
  display: none; /* hides the line number column */
}

div.highlighter-rouge.nolineno .rouge-table {
//   border-spacing: 0; /* remove table spacing */
}

div.highlighter-rouge.nolineno .rouge-code {
  width: 100%; /* let code expand full width */
  display: block;
}

.responsive-svg {
  display: block;
  max-width: 100%;  /* shrink to container */
  height: auto;     /* maintain aspect ratio */
  margin: 1rem;
}

