<!-- The standardised HTML structure for Exercise/Example/Scenario blocks with hidden solutions. It is styled with CSS. -->
<div class="exercise-container">
    <h3 id="{{ include.id | default: include.title | slugify }}">
        {{ include.title }}
    </h3>
    <div class="exercise-description">
        {{ include.problem | markdownify }}
    </div>
    <div class="exercise-solution">
        <details>
            <summary>Solution</summary>
            {{ include.solution | markdownify }}
        </details>
    </div>
    {% if include.solution2 %}
    <div class="exercise-solution">
        <details>
            <summary>Solution 2</summary>
            {{ include.solution2 | markdownify }}
        </details>
    </div>
    {% endif %}
</div>