<div class="exercise-container">
    <h2>{{ include.title }}</h2>
    <div class="exercise-description">
        {% capture exercise_problem %}
            {% include {{ include.problem }} %}
        {% endcapture %}
        {{ exercise_problem | markdownify }}
    </div>
    <div class="exercise-solution">
        <details>
          <summary>Solution</summary>
          {% capture exercise_solution %}
            {% include {{ include.solution }} %}
          {% endcapture %}
          {{ exercise_solution | markdownify }}
        </details>
      </div>
</div>
